<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'header.html' %}

    </head>
    <body>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                {% for article in articles: %}
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview">
                        <a href="{{ url_for('get_post', artid=article['id']) }}">
                            <h2 class="post-title">{{article['title']}}</h2>
                            <h3 class="post-subtitle">{{article['subtitle']}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{article['author']}}</a>
                            on {{ article['date'] }}
                        </p>
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
             {% include 'footer.html' %}
    </body>
</html>
